body{
    background-color: rgb(40, 40, 40);
}

h1{
    text-align: center;
    color: white;
}

h2,h3,h4{
    color: white;
}


.Interact{
    width: 600px;
    float: left;
}

.OneDay{
    width: 150px;
    float: left;
}

.ShowTweets{
    float: left;
    width: 150px;
    padding-left: 5px;
}

.AverageTweets{
    float: left;
    width: 250px;
}

.OneDayGraphArea{
    float: left;
    padding-left: 4em;
    padding-top: 1em;
}

.BigGraphArea{
    float: left;
    padding-top: 5rem;
    padding-bottom: 15em;
}

.Statistics{
    float: left;
    color: white;
    padding-top: 25px;
    font-size: 19px;
}

.DayStatsTable{
    float: left;
    margin-top: 2em;
    padding-bottom: 8em;
    font-size: 18px;
}